{% extends "layout.html" %}

{% block style %}
<style>
  summary {
    font-family: sans-serif;
    font-size: 15px;
    border-top: 10px solid white;
  }

  article {
    background-color: #F1F1F1;
    min-height: 565px;
    font-family: sans-serif;
    border-top: 10px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
  }

</style>
{% endblock %}

{% block body %}
<div class="row">
  <summary class="align-self-start col-lg-2 col-xs-6 sticky-top p-2" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Summary
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse d-lg-block" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ol>
            <li><a href="#title">Title</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#introduction">Introdution</a></li>
            <li><a href="#objectives">Objectives</a></li>
            <li><a href="#results">Results</a></li>
            <li><a href="#references">References</a></li>
          </ol>
        </div>
      </div>
    </div>
  </summary>
  <article class="col-lg-10 col-xs-12 p-4 pl-5">
      <h3 id="title">Title</h3>
      <h4 id="resume">Resume</h4>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <h4 id="introduction">Introduction</h4>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <h4 id="objectives">Objectives</h4>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <h4 id="results">Results</h4>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <p> This is a test of text </p>
      <h4 id="references">Reference</h4>
  </article>
</div>
{% endblock %}
